#container-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#adblocker-status-on-section{
    margin: 0rem;
    padding: 0rem 1rem;
    float: right;
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}

#adblocker-status-off-section{
    margin: 0rem;
    padding: 0rem 1rem;
    float: right;
    display: flex;
    color: grey;
    align-items: center;
    justify-content: center;
}


