@import "../../../styles/reset";

.items-header-div {
    margin: 0;
    padding: 0.2rem 0.8rem;
    overflow: auto;
}

.items-title-div {
    margin: 0;
    padding: 0;
    float: left;
}

.items-buttons-div {
    margin: 0;
    padding: 0;
    float: right;
}

.items-title {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
}