@import "../../../styles/reset";

.items-box-section {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--secondary-color);
}

.items-header-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2.2rem;
}

.items-list-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100%-2.2rem);
}

#empty-container-section {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#empty-app-phrase {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: var(--font-color);
    font-weight: 250;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-button-section  {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.add-button {
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--font-color);
    margin: 0;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid green;
}

.add-button:hover {
    background-color: green;
}

.add-button:before {
    content: '\FF0B';
}