#linkedadblockers-section {
    margin: 0rem;
    padding: 0rem 0.5rem;
    padding-bottom: 0.2rem;
    height: 32%;
    width: 100%;
    position: relative;
}

#linkedadblockers-container {
    margin: 0rem;
    padding: 0.2rem;
    height: 100%;
    width: 100%;
    position: relative;
}