#whitelist-section {
    margin: 0rem;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
    height: 60%;
    width: 100%;
    position: relative;
}

#siteselect-container {
    margin: 0rem;
    padding: 0.2rem;
    height: 15%;
    width: 100%;
    position: relative;
}

#items-container {
    margin: 0rem;
    padding: 0.2rem;
    height: 85%;
    width: 100%;
    position: relative;
}