@import "../../../styles/fonts";
@import "../../../styles/reset";
@import "../../../styles/variables";

#login-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

#login-page-components {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5.4rem;
    bottom: 4rem;
    width: 100%;
    border-bottom: 0.001rem solid var(--secondary-color);
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#alert {
    width: 100%;
    margin-top: 4.7rem;
    z-index: 2;
    background: red;
    color: white;
    padding: 0.8rem 0rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.8rem;
    border-width: thin;
}
