@import "../../../styles/fonts";
@import "../../../styles/reset";
@import "../../../styles/variables";

#main-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

#main-page-components {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5.4rem;
  bottom: 4rem;
  width: 100%;
  border-bottom: 0.001rem solid var(--secondary-color);
}

#footer {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
}
